#RewriteEngine On    # Turn on the rewriting engine
##RewriteRule ^register/?$ register_data.php [NC,L]
##RewriteRule ^daftar/?$ register_baru.php [NC,L]
##RewriteRule ^baru/?$ register_baru.php [NC,L]
##RewriteRule ^edit/?$ register_edit.php [NC,L]
##RewriteRule ^index/?$ index.php [NC,L]
##RewriteRule ^home/?$ index.php [NC,L]
##RewriteRule ^beranda/?$ index.php [NC,L]
##RewriteRule ^logout/?$ logout.php [NC,L]
##RewriteRule ^exit/?$ logout.php [NC,L]
##RewriteRule ^keluar/?$ logout.php [NC,L]
#FallbackResource index.php
## RewriteRule ^register/([0-9]+)$ register_edit.php?UPDATE_KEY=$1 [NC,L]